<footer class='footer js-footer'>
      <div class='wrapper'>
        <ul class='footer-menu'>
          <li class='footer-menu-item'>
            <a class='footer-menu-link' href='#'>О Matbets</a>
          </li>
          <li class='footer-menu-item'>
            <a class='footer-menu-link' href='#'>Владельцу бренда</a>
          </li>
          <li class='footer-menu-item'>
            <a class='footer-menu-link' href='#'>Покупателю</a>
          </li>
          <li class='footer-menu-item'>
            <a class='footer-menu-link' href='#'>Сообщество</a>
          </li>
          <li class='footer-menu-item'>
            <a class='footer-menu-link' href='#'>Вопросы и ответы</a>
          </li>
          <li class='footer-menu-item'>
            <a class='footer-menu-link' href='#'>Пользовательское соглашение</a>
          </li>
        </ul>
        <a class='footer-support-link js-popup-link' href='#' data-popup='#to-support'>Отправить запрос в службу поддержки</a>
        <div class='footer-social'>
          <a class='footer-social-link icon icon-instagram' href='#' title='Подпишитесь на нас в Instagram'>Подпишитесь на нас в Instagram</a>
          <a class='footer-social-link icon icon-fb' href='#' title='Вступайте в группу в Facebook'>Вступайте в группу в Facebook</a>
          <a class='footer-social-link icon icon-vk' href='#' title='Вступайте в группу в Контакте'>Вступайте в группу в Контакте</a>
          <a class='footer-social-link icon icon-pinterest' href='#' title='Подпишитесь на нас в Pinterest'>Подпишитесь на нас в Pinterest</a>
        </div>
        <div class='footer-copyright'>© 2016 Matbets. Все права защищены.</div>
      </div>
    </footer>
    