@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";

@import "partials/basis";
@import "partials/icons";

@include fontFace('FuturaBookC','/fonts/futurabookc', 'normal');
@include fontFace('FuturaBookC-Italic','/fonts/futurabookcitalic', 'italic');
@include fontFace('FuturaDemiC','/fonts/futurademic', 'normal');
@include fontFace('FuturaLightC','/fonts/futuralightc', 'normal');
@include fontFace('FuturaLightC-Italic','/fonts/futuralightcitalic', 'italic');
@include fontFace('icomoon','/fonts/icomoon', 'italic');



.gmii_theme { /* Firefox 19+ */ /* Firefox 18- */ }
.gmii_theme .menu { background: #b54433; }
.gmii_theme .menu__left:before { border-color: transparent transparent transparent #b54433; }
.gmii_theme .menu__left:after { border-color: #b54433 transparent transparent transparent; }
.gmii_theme .menu__left:hover { background: #cf6d5d; }
.gmii_theme .menu__left:hover:before { border-color: transparent transparent transparent #cf6d5d; }
.gmii_theme .menu__left:hover:after { border-color: #cf6d5d transparent transparent transparent; }
.gmii_theme .menu__right:before { border-color: transparent transparent #b54433 transparent; }
.gmii_theme .menu__right:after { border-color: transparent #b54433 transparent transparent; }
.gmii_theme .menu__right:hover, .gmii_theme .menu__right.active { background: #cf6d5d; }
.gmii_theme .menu__right:hover:before, .gmii_theme .menu__right.active:before { border-color: transparent transparent #cf6d5d transparent; }
.gmii_theme .menu__right:hover:after, .gmii_theme .menu__right.active:after { border-color: transparent #cf6d5d transparent transparent; }
.gmii_theme.menu-opened .menu__left { background: #cf6d5d; }
.gmii_theme.menu-opened .menu__left:before { border-color: transparent transparent transparent #cf6d5d; }
.gmii_theme.menu-opened .menu__left:after { border-color: #cf6d5d transparent transparent transparent; }
.gmii_theme #ajax-content-item .desc .title, .gmii_theme #ajax-content-item .desc a { color: #b54433; }
.gmii_theme .lead { color: #b54433; }
.gmii_theme .btn { border-color: #b54433; color: #b54433; }
.gmii_theme .btn:hover { background: #b54433; }
.gmii_theme .scroller-icon { background: #403b35; }
.gmii_theme .scroller-icon { color: #b54433; border-color: #b54433; }
.gmii_theme .scroller-icon * { color: #b54433 !important; }
.gmii_theme .scroller-icon i { background: #b54433; }
.gmii_theme .count-exp { color: #cf6d5d; }
.gmii_theme .btn-panorama path, .gmii_theme .append-left path, .gmii_theme .append-right path { fill: #cbb186; }
.gmii_theme .section__events .section-left { background: rgba(64, 59, 53, 0.95); }
.gmii_theme .spinner > div { background: #b54433; }
.gmii_theme .section-left, .gmii_theme .section-full { color: #bab19f; background: #403b35; }
.gmii_theme .section-left h3, .gmii_theme .section-full h3 { color: #cec4b4; }
.gmii_theme .section-left h3 span, .gmii_theme .section-full h3 span { border-color: #cec4b4; }
.gmii_theme .section-left ul li a, .gmii_theme .section-full ul li a { color: #a69a88; }
.gmii_theme .section-left ul li span, .gmii_theme .section-full ul li span { color: #bab19f; }
.gmii_theme .section-left .view-more__link, .gmii_theme .section-full .view-more__link { color: #a69a88; }
.gmii_theme .section-left .article h5, .gmii_theme .section-full .article h5 { color: #bab19f; }
//.gmii_theme .section-full { background: #403b35 !important; }
.gmii_theme .section-right .section-right-inner .btn { background: rgba(64, 59, 53, 0.8); border-color: #cbb186; }
.gmii_theme .section-right .section-right-inner .btn:hover { background: rgba(64, 59, 53, 0.95); }
.gmii_theme .section__contacts .goToSite { color: #cf6d5d; }
.gmii_theme #ajax-content-list, .gmii_theme #ajax-content-item { background-color: #fff; }
.gmii_theme .section__collection { background-color: #2c2b2a !important; }
.gmii_theme aside { background: #cec4b4; color: #80766b; }
.gmii_theme aside menu li a, .gmii_theme aside ul li a, .gmii_theme aside ol li a { color: #80766b; }
.gmii_theme aside .lang a { color: #80766b; }
.gmii_theme aside .lang a.active { color: #e6e0d7; }
.gmii_theme aside .lang span { color: #e6e0d7; }
.gmii_theme aside input { background: #e6e0d7; }
.gmii_theme aside hr { border-bottom-color: #e6e0d7; }
.gmii_theme .social-links .social { color: #cec4b4; }
.gmii_theme ::-webkit-input-placeholder { color: #cec4b4; }
.gmii_theme ::-moz-placeholder { color: #cec4b4; }
.gmii_theme :-moz-placeholder { color: #cec4b4; }
.gmii_theme :-ms-input-placeholder { color: #cec4b4; }
.gmii_theme .collections-list ul li a, .gmii_theme #ajax-content-item .desc ul { color: #bab19f; }
.gmii_theme aside menu li a { color: #b54433; }
.gmii_theme aside menu li a:hover { color: #fff; }
.gmii_theme .count-exp { color: #998e7d; }


.musgor_theme {
  background: #31312f;
  .section-left, .section-full { color: #bab19f; }
  .section-left ul li span, .section-full ul li span { color: #bab19f;}
  aside {
    background: #464645;
    em {
      a {
         color: #fff !important;
      }
    }
  }
  aside menu li a, .gmii_theme aside ul li a, aside ol li a { color: #89a83c; font-family: 'FuturaDemiC'; }
  aside .lang a { color: #80766b; }
  aside .lang a.active { color: #e6e0d7; }
  aside .lang span { color: #e6e0d7; }
  aside input { background: #e6e0d7; }
  aside hr { border-bottom-color: #e6e0d7; }
  .social-links .social { color: #cec4b4; }
  .section--background {
    background-color: #31312f;
  }
  .lang {color: #89a83c; font-family: 'FuturaDemiC';}
  aside hr { border-bottom-color: #89a83c; }
  aside ul a {
    font-family: 'FuturaBookC';
    color: #a09e95;
  }
  aside input {
    background: #a4a29c;
    color: #464645;
    font-size: 20px;
  }
  .spinner > div { background: #7f9646; }
  .menu {
    background: #5b5b5a;
  }
  .menu__left:before { border-color: transparent transparent transparent #5b5b5a; }
  .menu__left:after { border-color: #5b5b5a transparent transparent transparent; }
  .menu__left:hover { background: #5b5b5a; }
  .menu__left:hover:before { border-color: transparent transparent transparent #5b5b5a; }
  .menu__left:hover:after { border-color: #5b5b5a transparent transparent transparent; }
  .menu__right:before { border-color: transparent transparent #5b5b5a transparent; }
  .menu__right:after { border-color: transparent #5b5b5a transparent transparent; }
  .menu__right:hover, .menu__right.active { background: #5b5b5a; }
  .menu__right:hover:before, .menu__right.active:before { border-color: transparent transparent #5b5b5a transparent; }
  .menu__right:hover:after, .menu__right.active:after { border-color: transparent #5b5b5a transparent transparent; }

  &.menu-opened .menu__left { background: #5b5b5a; }
  &.menu-opened .menu__left:before { border-color: transparent transparent transparent #5b5b5a; }
  &.menu-opened .menu__left:after { border-color: #5b5b5a transparent transparent transparent; }

  .scroller-icon {
    color: #7f9646;
    border-color: #7f9646;
    i {
      background: #7f9646;
    }
  }
  .icon-menu {
    background: #8fae3e;
    &:after, &:before {
      background: #8fae3e;
    }
  }

  ::-webkit-input-placeholder { color: #464645; }
  ::-moz-placeholder { color: #464645; }
  :-moz-placeholder { color: #464645; }
  :-ms-input-placeholder { color: #464645; }
  .menu__top a, .menu__bottom a {
    border-bottom: none;
  }
  .menu__left a, .menu__right a {
    color: #84a430;
  }
  .section_panorama {
    background-image: url("/images/des/panorama_back.jpg");
  }

  .btn-panorama path, .append-left path, .append-right path { fill: #768943; }
  .btn-panorama, .count-exp {
    font-family: 'FuturaDemiC';
  }
  .count-exp {
    color: #91ab4c;
    opacity: 1;
  }
  .section-full h3 span, .section-left h3 span {
    font-family: 'FuturaDemiC';
    color: #89a83c;
    border-color: #89a83c;
  }
  .section-full h3 {
    margin-bottom: 55px;
  }
  .section__contacts .address {
    font-family: 'FuturaDemiC';
  }
  .mfp-close {
    background: #89a83c;
    opacity: 1;
  }
  .media-list .desc {
    padding: 15px 0 5px 0;
    background: none;
    font-family: 'FuturaDemiC';
    color: #cfcdc3;
    .title {
      text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.27);
    }
  }
  .media-list a:hover .desc {
    background: none;

    .title {
      color: #fff;
    }
  }
  .section-left, .section-full {
    background-color: #31312f;
  }
}
.fp-viewing-city .scroller-icon, .fp-viewing-panorama .scroller-icon, .fp-viewing-media .scroller-icon, .fp-viewing-building .scroller-icon, .fp-viewing-news .scroller-icon, .fp-viewing-feedback .scroller-icon { left: 50% !important; right: 0; bottom: 115px; background: transparent !important; }
.fp-viewing-intro .scroller-icon:before, .fp-viewing-intro .scroller-icon:after, .fp-viewing-panorama .scroller-icon:before, .fp-viewing-panorama .scroller-icon:after, .fp-viewing-media .scroller-icon:before, .fp-viewing-media .scroller-icon:after { text-shadow: none !important; }
.fp-viewing-contacts .scroller-icon {
  color: #fff;
  background: #433d32;
  border-color: #fff;
  i {
    color: #fff;
    background: #fff;
  }
}
.section__inner--padding {
  padding-top: 134px;
  padding-left: 174px;
}

.section--intro__inner {
  display: flex;
  flex-flow: column;
  align-content: stretch;
}
.section--intro__header {
  display: flex;
  padding-top: 134px;
  padding-left: 114px;
  .logo {
    margin-right: 143px;
  }
  h1 {
    display: block;
    max-width: 500px;
    font-family: 'FuturaDemiC';
    font-size: 60px;
    //letter-spacing: 0.6em;
    text-transform: uppercase;
    color: #fff;
    span {
      //letter-spacing: 4.5px;
    }
  }
  .panorama {
    img {
      width: 100%;
    }

  }
}
.section_panorama {
  text-align: center;
}
.map {
  flex: 2;
  padding-top: 40px;
  padding-bottom: 150px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  z-index: 9999;
  .map_inner {
    height: 100%;
    position: relative;
    z-index: 10;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      margin: 0 auto;
    }
    .objects {
      position: relative;
      height: 100%;
      margin: 0 auto;
      z-index: 10;
    }
    .object {
      position: absolute;
      display: block;
      .building {
        position: relative;
        height: 100%;
        width: 100%;
        //border: 3px solid #000;
        z-index: 5;
        &:hover {
          cursor: pointer;
        }
      }
      .name {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all .2s ease;
        width: 250px;
        position: absolute;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        color: white;
      }
    }
    .object-1 {
      width: 13%;
      height: 46%;
      top: 24%;
      left: 48%;
      .building {
        transform: rotateX(50deg) rotateY(-12deg) rotateZ(-25deg);
      }
      .name {
        bottom: 5%;
        left: 113%;
      }
    }
    .object-2 {
      width: 8%;
      height: 21%;
      top: 54%;
      left: 44%;
      .building {
        transform: rotateX(50deg) rotateY(-12deg) rotateZ(-25deg);
      }
      .name {
        bottom: -45%;
        left: -100%;
      }
    }
    .object-3 {
      width: 7%;
      height: 34%;
      top: 42%;
      left: 35%;
      .building {
        transform: rotateX(50deg) rotateY(-12deg) rotateZ(-25deg);
      }
      .name {
        bottom: -35%;
        left: -100%;
      }
    }
    .object-4 {
      width: 16%;
      height: 20%;
      top: 9%;
      left: 30%;
      .building {
        transform: rotateX(39deg) rotateY(-10deg) rotateZ(-38deg);
      }
      .name {
        bottom: -35%;
        left: 60%;
      }
    }
    .object-5 {
      width: 4%;
      height: 18%;
      top: 40%;
      left: 65%;
      .building {
        transform: rotateX(50deg) rotateY(-12deg) rotateZ(-25deg);
      }
      .name {
        bottom: -20%;
        left: -110%;
      }
    }
    .object-6 {
      width: 7%;
      height: 27%;
      top: 13%;
      left: 67%;
      .building {
        position: relative;
        transform: rotateX(50deg) rotateY(-12deg) rotateZ(-32deg);
        z-index: 10;
      }
      .name {
        bottom: -20%;
        left: -190%;
      }
    }
    .object-7 {
      width: 22%;
      height: 16%;
      top: 26%;
      left: 67%;
      z-index: 9;
      .building {
        transform: rotateX(50deg) rotateY(-12deg) rotateZ(-43deg);
      }
      .name {
        bottom: -20%;
        right: -90%;
      }
    }
    .object-8 {
      width: 10%;
      height: 23%;
      top: 2%;
      left: 69%;
      .building {
        transform: rotateX(50deg) rotateY(-12deg) rotateZ(-25deg);

      }
      .name {
        bottom: 10%;
        right: -90%;
      }
    }
    .object-9 {
      width: 18%;
      height: 21%;
      top: 42%;
      left: 68%;
      .building {
        transform: rotateX(50deg) rotateY(-15deg) rotateZ(-25deg);
        z-index: 8;
      }
      .name {
        bottom: 80%;
        right: 20%;
      }
    }
    .map-object {
      opacity: 0;
      z-index: -1;
      transition: all .2s ease;
    }
  }
}
.show {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 1 !important;
  transition: all .2s ease !important;
}
.promo-text--left {
  position: absolute;
  width: 250px;
  top: 30%;
  left: 13%;
  color: #a09e95;
  font-size: 18px;
  .block {
    margin-top: 50px;
  }
  .date {
    font-size: 40px;
    line-height: 45px;
    font-family: 'FuturaLightC';
    color: #dddbd3;
  }
}
.promo-text--right {
  position: absolute;
  width: 250px;
  top: 26%;
  right: 13%;
  font-size: 18px;
  color: #a09e95;
  z-index: 11;
}
.promo-text--bottom {
  position: absolute;
  width: 460px;
  right: 10%;
  bottom: 13%;
  z-index: 5;
  text-align: right;
  .pic {
    margin-right: 80px;
    margin-bottom: 25px;
  }
  .text {
    text-align: left;
    font-size: 19px;
    line-height: 20px;
    font-family: 'FuturaLightC-Italic';
    color: #fff;
  }
  .author {
    margin-top: 30px;
    margin-right: 30px;
    font-size: 19px;
    text-align: right;
    color: #90908b;
  }
}
.quotation-start {
  position: relative;
  &:after {
    content: "«";
    display: block;
    position: absolute;
    top: -5px;
    left: -27px;
    font-size: 60px;
    font-family: 'FuturaLightC-Italic';
    color: #63635d;
  }
}
.quotation-end {
  position: relative;
  &:after {
    content: "»";
    display: block;
    position: absolute;
    top: -4px;
    left: 6px;
    font-size: 60px;
    font-family: 'FuturaLightC-Italic';
    color: #63635d;
  }
}
.green--link {
  line-height: 18px;
  display: inline-block;
  color: #96b645;
  border-bottom: 1px solid #96b645;
}
.video-preview:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  width: 60px;
  height: 43px;
  margin: auto;
  background-image: url(/images/des/youtube.svg);
  background-size: cover;
  transition: .4s;
}
.video-preview {
 &:before {
   content: '';
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: .23;
   transition: .4s;
 }
  &:hover:before {
    opacity: 0;
    transition: .4s;
  }
}
.up-down-animation {
  animation: up-down-animation 2s;
}
@keyframes up-down-animation {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(-4px);
  }
  45% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.up-animation {
  &:after {
    animation: up-animation 1s;
  }
}
@keyframes up-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.down-animation {
  &:before {
    animation: down-animation 1s;
  }
}
@keyframes down-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.section__info {
  .media-list {
    .video-preview:after, .video-preview:before {
      display: none;
    }
    .desc {
      height: auto;
      .title {
        color: #fff;
        text-shadow: none;
        font-size: 26px;
      }
    }
  }
  h4 {
    margin-top: 20px;
    a {
      font-family: "FuturaDemiC";
    }

  }
}

.section__news {
  .media-list {
    .video-preview:after {
      display: none;
    }
    .desc {
      .title {

      }
      .date {
        display: block;
        font-size: 17px;
        position: static;
        margin-top: 5px;
        color: #89a83c;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }
    a:hover .date {
      color: #fff;
    }
  }
}
.media-list {
  .links {
    margin-top: 5px;
    font-size: 0;
    display: flex;
    align-content: stretch;
    li {
      padding: 0;
      width: inherit;
      border-left: 1px solid #89a83c;
      &:last-child {
        border-right: 1px solid #89a83c;
      }
    }
    a {
      display: inline-block;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 20px;
      color: #89a83c !important;
      vertical-align: middle;
      text-align: center;
      &:hover {
        text-decoration: underline;
        color: #fff !important;
      }

    }
  }
}

.ajax-modal {
  //width: 103%;
  .mfp-container {
    padding: 0;
    .mfp-content {
      height: 100%;
      padding-top: 140px;
      padding-left: 180px;
      //padding-right: 100px;
      background: #31312f;
      color: #fff;
      .mfp-close {
        position: fixed;
        right: 0 !important;
        color: #fff;
      }
      .section-full {
        position: static;
        background: #31312f;
      }
      .mfp-content-inner {
        overflow: hidden;
        .photo {
          position: relative;
          width: 30%;
          height: 100%;
          float: left;
        }
        .scroller-icon {
          position: absolute;
          left: 16px;
          bottom: 150px;
        }
        .text-scroll {
          overflow-y: inherit;
          overflow-x: hidden;
          height: 100%;
          padding-bottom: 100px;
        }
        .text {
          height: 100%;
          width: 105%;
          overflow-y: scroll;
          float: left;
          padding-left: 50px;
          padding-right: 250px;

          h4 {
            font-size: 28px;
            font-family: "FuturaDemiC";
            color: #fff;
          }
          .date {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 18px;
            color: #89a83c;
          }
          p {
            font-size: 18px;
            color: #a09e95;
          }
        }
      }
    }
  }
}
.gallery {
  img {
    width: 100%;
  }
}
.slick-dots {
  text-align: center;
  margin-top: 5px;
  li {
    display: inline-block;
    font-size: 0;
    margin-right: 2px;
    margin-left: 2px;
    button {
      width: 10px;
      height: 10px;
      padding: 0;
      border-radius: 50%;
      border: 2px solid #89a83c;
      background: transparent;
    }
  }
  .slick-active {
    button {
      border: 2px solid #fff;
      background: #fff;
    }
  }
}
.rules {
  width: 320px;
  font-size: 18px;
  float: left;
  overflow: hidden;
}
.form-wrap {
  padding-left: 400px;
  width: 100%;
  padding-bottom: 100px;

  .feedback_section {
    width: 50%;
    float: left;
    padding-right: 75px;
  }
  label {
    font-size: 20px;
    color: #cfcdc3;
    font-family: "FuturaDemiC";
  }
  .hint {
    margin-bottom: 8px;
    font-size: 16px;
    color: #cfcdc3;
  }
  .input-wrap {
    margin-bottom: 70px;
  }
  .textarea-wrap {
    margin-bottom: 37px;
  }
  input, textarea {
    width: 100%;
    border: 2px solid #89a83c;
    background: transparent;
    border-radius: 10px;
    outline: none;
    transition: all .4s;
  }
  .has-error {
    border: 2px solid red;
    transition: all .4s;
  }
  button[type="submit"] {
    width: 256px;
    margin: 0 auto;
    display: block;
    background: transparent;
    border: 5px solid #89a83c;
    font-size: 20px;
    font-family: "FuturaDemiC";
    text-transform: uppercase;
    line-height: 40px;
    color: #89a83c;
    outline: none;
    cursor: pointer;
  }
  .success-msg {
    text-align: center;
  }
}
.section__contacts {
  .section__contacts__bottom {
    margin-top: 170px;
    li {
      margin-top: 0;
      a {
        color: #a09e95;
        font-size: 32px;
        line-height: 42px;
      }
    }

  }
}
#map {
  filter: grayscale(100%);
  &:before {
    background: #847c6e;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .25;
    transition: .4s;
  }
}
@media screen and (max-width: 1500px) {
  .section__inner--padding {
    padding-top: 100px;
    padding-left: 100px;
  } .section--intro__header {
    padding-top: 100px;
    padding-left: 60px;
  }
  .section--intro__header {
    .logo {
      margin-right: 70px;
    }
    h1 {
      max-width: 330px;
      font-size: 45px;
      line-height: 45px;
    }
    .panorama {
      width: 300px;
    }
  }
  .map {
    flex: 2;
    padding-top: 0;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .promo-text--left {
    width: 250px;
    top: 30%;
    left: 10%;
    font-size: 16px;
    .block {
      margin-top: 30px;
    }
    .date {
      font-size: 30px;
      line-height: 35px;
    }
  }
  .promo-text--right {
    right: 5%;
  }
  .promo-text--bottom {
    position: absolute;
    width: 400px;
    right: 5%;
    bottom: 10%;
    z-index: 15;
    text-align: right;
    .pic {
      width: 90px;
      margin-right: 80px;
      margin-bottom: 15px;
    }
    .text {
      text-align: left;
      font-size: 19px;
      line-height: 19px;
      font-family: 'FuturaLightC-Italic';
      color: #fff;
    }
    .author {
      margin-top: 30px;
      margin-right: 30px;
      font-size: 19px;
      text-align: right;
      color: #90908b;
    }
  }
  .ajax-modal {
    .mfp-container {
      .mfp-content {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        .mfp-content-inner {
          .text {
            padding-right: 50px;
          }
        }
      }
    }
    .mfp-preloader {
      z-index: 1100;
    }
  }
}
@media screen and (max-aspect-ratio: 15/10) {
  .map .map_inner img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-height: 740px) {
  .section__inner {
    padding: 0 40px;
  }
  .section-full .scroller {
    padding: 0px 30px 0 40px;
  }
  .fullpage-wrapper {
    .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCSB_scrollTools {
      right: -21px;
    }
  }
  .menu__top, .menu__bottom {
    height: 40px;
    padding: 0 40px;
  }
  .menu__left, .menu__right {
   width: 40px;
    top: 40px;
    bottom: 40px;
  }
  .menu__left:after {
    border-width: 40px 40px 0 0;
  }
  .menu__left:before {
    border-width: 40px 0 0 40px;
  }
  .menu__right:after {
    border-width: 0 40px 40px 0;
  }
  .menu__right:before {
    border-width: 0 0 40px 40px;
  }
  .menu__left:before, .menu__right:before {
    top: -60px;
  }
  .menu li {
    font-size: 20px;
  }
  .menu .icon-panorama {
    font-size: 22px;
  }
  .menu__left i, .menu__left i:before, .menu__left i:after {
    width: 22px;
  }
  aside {
    top: 40px;
    bottom: 40px;
    left: 40px;
  }
  aside menu,
  aside ul li a {
    font-size: 27px;
  }
  .lang {
    font-size: 20px;
  }
  aside menu i, aside menu img {
    margin-right: 20px;
    width: 30px;
    font-size: 24px;
    top: 6px;
  }
  aside .scroller .mCSB_container {
    padding: 54px 74px 50px 100px;
  }


  .section--intro__header {
    padding-top: 80px;
    padding-left: 40px;
  }
  .promo-text--left {
    top: 40%;
    left: 8%;
    font-size: 14px;
    .date {
      font-size: 25px;
    }
  }
  .promo-text--right {
    font-size: 14px;
    top: 28%;
  }
  .promo-text--bottom {
    .text {
      font-size: 15px;
      line-height: 17px;
    }
  }
  .section--intro__header h1 {
    max-width: 330px;
    font-size: 37px;
    line-height: 37px;
  }
}